* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --animate-delay: 0.5s;
  --red: #f04242;
  --grey: #545454;
  --natural: #efefef;
  --sky: #caebfa;
  --carbon: #a9a9a9;
  --yellow: #faa400;
  /* color: rgb(250, 164, 0); */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  position: relative;

}

.hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -10;
}

.jumbotron {
  margin: 0;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

.wrapper {
  max-width: 2560px;
  width: 80%;
  margin: 0 auto;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: var(--yellow);
}

.scroll-fix::before {
  display: block;
  margin-top: -53px;
  height: 53px;
  content: '';
}



/* -----------*/
/* NAWGIACJA */
/* -------- */

nav {
  font-size: 1.4rem;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  transition: background-color .6s;
}

.navbar .active{
  color: var(--yellow);
}

.navbar .active:hover{
  color: #fff;
}

.nav-item {
  margin: 0 10px;
}

.navbar-nav a {
  color: #fff;
}

.navbar-toggler {
  font-size: 3rem;
}

.navbar-toggler i {
  padding: 10px;
  color: #fff;
}

.navbar-brand {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: none;
  transition: color .3s;
  color: var(--yellow);

}

.navbar-brand:hover {
  color: #ffff;
}

.navbar-brand:hover>i {
  color: var(--yellow);
}

.dropdown-menu a {
  color: black;
}

.navbar-brand i {
  color: #fff;
  transition: color .3s;
}

.nav-link {

  transition: color .3s;
}

.nav-link:hover {
  /* box-shadow: 0px 2px 0px  #faa400; */
  color: var(--yellow);
}

.last-a {
  margin-right: 20px;
}

.shadow-bg {
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
}


/* -----------*/
/* HEADER */
/* -------- */

header {
  color: #fff;
  overflow: hidden;
}

header h1 {
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 3rem;
}

header p {
  padding: 10px;
}

.hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/aple5-sm.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.hero-img-category {
  position: relative;
  height: 100vh;
  background-image: url("../img/kategorie/tlo-lg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 10;
}

.hero-text span {
  color: var(--yellow);
}

.btn-outline-light {
  text-transform: uppercase;
}

.btn-outline-light:hover {
  color: #fff;
  background: transparent;
  border-color: var(--yellow);
}

.fa-chevron-down {
  display: none;
}

/* MAIN *********************************************************************************************** */


/* ************************ */
/* New Products */
/* ************************ */

#newproducts .jumbotron {
  border-top: 5px solid var(--yellow);
  /* border-bottom: 5px solid var(--yellow); */
  background-image: url('../img/light.jpg');
}

#newproducts .carousel-item {
  position: relative;
  height: 400px;
}

#newproducts .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#newproducts .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#newproducts .carousel-indicators {
  padding-bottom: 20px;
}

#newproducts .carousel-caption h5 {
  text-shadow: 2px 2px 5px var(--yellow);
  font-size: 3.5rem;
}

#newproducts .card {
  margin: 10px 20px;
  min-width: 200px;
  text-align: center;
}

#newproducts .card img {
  height: 200px;
  object-fit: cover;
}

#newproducts .card h5 {
  font-size: 2.2rem;
}


/* ************************ */
/* Popular */
/* ************************ */

#popular .jumbotron {
  position: relative;
  border-top: 5px solid var(--yellow);
  background-image: url('../img/dark.jpg');
}

#popular .underline {
  margin: 0 auto 10px;
}

#popular .carousel-item {
  position: relative;
  height: 350px;
}

#popular .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  height: 330px;
}

#popular .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 35px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#popular .carousel-indicators {
  padding-bottom: 20px;
}

#popular button {
  position: absolute;
  padding: 0 30px;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  transition: border .3s, box-shadow .3s;
}

#popular button:hover {
  border: 1px solid var(--yellow);
  box-shadow: 1px 1px 1px var(--yellow);
}

#popular .prev-button {
  bottom: -55px;
  left: 30px;
}

#popular .next-button {
  bottom: -55px;
  right: 30px;
}

#popular i {
  text-align: center;
  font-size: 4rem;
}

#popular .carousel-caption h5 {
  text-shadow: 2px 2px 5px var(--yellow);
  font-size: 2rem;
}

#popular .card {
  margin: 10px 5px;
  min-width: 200px;
  text-align: center;
}

#popular .card img {
  height: 200px;
  object-fit: cover;
}

#popular .card h5 {
  font-size: 2.2rem;
}

#popular .wrapper {
  padding-bottom: 40px;
  width: 95%;
}

#popular .all-products-btn {
  bottom: 20px;
  left: 50%;
  height: 50px;
  width: 250px;
  text-align: center;
  transform: translate(-50%);
  cursor: pointer;
  background-image: url('../img/light.jpg');
}

#popular .all-products-btn p {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 50px;
}

/* #popular .all-products-btn:hover {
  border: 1px solid var(--yellow);
  box-shadow: 2px 2px 2px var(--yellow);
} */



/* ********************************** */
/* CATEGORIE */
/* ********************************** */

#category .jumbotron {
  position: relative;
  border-top: 5px solid var(--yellow);
  background-image: url('../img/kategorie/tlo-sm.jpg');
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
  padding-bottom: 130px;
}

#category .category-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: -1;
}

#category h2 {
  color: #fff;
}

#category .card {
  border: none;
}

#category .index-categories .card img {
  height: 300px;
  object-fit: cover;
}

#category .index-categories .card-body {
  background-image: url('../img/light.jpg');
  height: 120px;
}

#category .index-categories .card-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

#category .index-categories .card-text {
  font-size: 1.4rem;
}

#category .index-categories .card-footer {
  border: 1px solid black;
  background-image: url('../img/dark.jpg');
  transition: border .3s;
}

#category .card-footer a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}

#category .card-footer i {
  transition: color .3s;
}

#category .card-footer p {
  margin: 0;
}

#category .card-footer a:hover>i {
  color: var(--yellow);
  animation: headShake 2s infinite;
}

#category .card-footer:hover {
  border: 1px solid var(--yellow);
  /* box-shadow: 2px 2px 2px var(--yellow); */
}

#category .all-category-btn {
  position: absolute;
  padding: 0 30px;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  transition: border .3s, box-shadow .3s, background-image .3s;
  bottom: 40px;
  left: 50%;
  height: 50px;
  width: 250px;
  text-align: center;
  transform: translate(-50%);
  cursor: pointer;
  background-image: url('../img/light.jpg');
}

#category .all-category-btn:hover {
  border: 1px solid var(--yellow);
  box-shadow: 2px 2px 2px var(--yellow);
  background-image: url('../img/dark.jpg');
}

#category .all-category-btn p {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 50px;
  margin: 0;
}

/* CATEGORY-PAGE *************************** */
#category .category-page-jumbotron{
  background-image: url('../img/dark.jpg');
  padding-bottom: 70px;
  background-attachment: scroll;
  background-size:auto ;
  
}
#category .category-page-jumbotron h2{
  color: black;
}

#category .category-page-jumbotron .card-footer{
  background-image: url('../img/light.jpg');
}

#all-categories .jumbotron{
  border-top: 5px solid var(--yellow);
  border-bottom: 5px solid var(--yellow);
  background-image: url('../img/light.jpg');
}

#all-categories .wrapper {
width: 90%;
}

#all-categories img {
  height: 240px;
  object-fit: cover;
}

#all-categories .btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: background-color .3s, color .3s;
}

#all-categories .card .btn:hover{
  background-color: var(--yellow);
  color: black;
}

#all-categories .card-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

#all-categories .card-text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  height: 80px;
}

#all-categories .underline {
  margin: 0 auto;
}

#all-categories .change-view{
  margin: 15px;
}

#all-categories .change-view i {
  padding: 15px;
  font-size: 3rem;
}

#all-categories .change-view i:hover{
color: var(--yellow);
}

#all-categories .change-view .active {
  color: var(--yellow);
}
#all-categories .list-group{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

#all-categories .list-group a:nth-child(even){
/* background-color: rgba(250, 164, 0, 0.55) ; */
background-image: url('../img/dark.jpg');
}

#all-categories .list-group a:hover{
  background-color: rgba(250, 164, 0, .7);
  background-image: none;
}

/* #all-categories .card-body{
  height: 200px;
} */


/* ********************************** */
/* Contact */
/* ********************************** */

#contact .jumbotron {
  position: relative;
  
  border-bottom: 5px solid var(--yellow);
  background-image: url('../img/contact-home-bg/pole2-sm.jpg');
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}


#contact .contact-other-pages h2{
  color: #fff;
}

#contact .contact-shadow{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: -10;
}

#contact .contact-us {
  display: flex;
  align-items: center;
  color: #fff;
}

#contact .contact-us .contact-item {
  margin: 30px 0;
}

#contact .contact-us .contact-item h3{
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#contact .contact-us .contact-item .social-media{
  font-size: 2.6rem;
}

#contact .contact-us .contact-item .social-media a{
  padding: 10px;
  color: #fff;
  text-shadow: 0 0 5px var(--yellow);
  transition:  text-shadow .3s, color .3s;
}

#contact .contact-us .contact-item .social-media a:hover{
  text-shadow:none;
  color: var(--yellow);
}

/* CONTACT INDEX *********************/
#contact .contact-index{
  border-top: 5px solid var(--yellow);
  background-image: url('../img/dark.jpg');
  border-bottom: 2px solid var(--yellow);
  background-attachment: scroll;
  background-size:auto ;
  padding: 20px 0;
}

#contact .contact-index h2{
  color: black;
}

#contact .contact-index .underline {
  margin: 0 auto;
}

/* ********************************** */
/* Footer */
/* ********************************** */

footer {
  background-image: url('../img/dark.jpg');
  font-size: 1.6rem;
}

footer span {
  font-weight: bold;
}

footer i {
  color: var(--yellow);
}

/* ********************************** */
/* BUDOWA */
/* ********************************** */
.budowa {
  height: 100vh;
  width: 100%;
  background-image: url("../img/budowa-lg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

@media (min-width:375px) {
  header h1 {
    font-size: 3.5rem;
  }

  #popular .underline {
    margin: 0 auto 25px;
  }

  #popular button {
    padding: 0 40px;
  }

  #category .card-text {
    font-size: 1.5rem;
  }

}

@media (min-width: 500px) {
  #category .card-titlet {
    font-size: 1.7rem;
  }
}