header h1 {
    font-size: 4.2rem;
  }

  header p {
    font-size: 2.2rem;
  }


  /* MAIN */

  /* POPULAR */

  #popular .underline{
    margin: 0 auto 40px;
  }

  #popular button:hover {
    box-shadow: 2px 2px 2px var(--yellow);
  }

  /* #category .all-category-btn {
     width: 250px;
  } */

  #category .category-page-jumbotron{
    padding-bottom: 60px;
  }